/* Solution # 2: this solution was based on
the appearence of the wireframe with some
regard to styling elements that were specifically
designated so they look like their
equivalents in the wireframe.*/



/* Breaking Points to worry about */
/* Min Width  810px for large mode.*/
/* Max width  630px for small mode */
/* 631 - 809 needs some style */

/* Universal */

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

img {
  height: auto;
  width: 100%;
}

nav {
  margin-right: 1.5rem;
}

nav span,
nav div {
  margin-left: 1rem;
}

section {
  width: 100%;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem 1.5rem;
  width: 60%;
}

.secondary {
  width: 40%;
}

header,
footer {
  background: #3e3939;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
}

/* Header */
#large .logo {
  margin-left: 1.5rem;
}

.logo {
  align-items: center;
  height: 2.5rem;
}

.title {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
}

header span,
footer span,
a {
  color: #b99e13;
}

.logo strong {
  color: #000;
  font-weight: bold;
}

#small {
  display: none;
}

@media only screen and (max-width: 650px) {
  .main {
    padding: 0;
  }

  #large {
    display: none;
  }

  #small {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0 20px;
  }

  #small img {
    height: 2.5rem;
    width: auto;
    fill: #b99e13;
  }
}

/* Jumbotron */
#jumbotron {
  background-color: #b4b4b4;
}

#jumbotron h4 {
  color: #b99e13;
}

  /* Jumbotron Main */
#jumbotron h1,
#jumbotron h3 {
  color: #3e3939;
  margin-bottom: 1.5rem;
}

  /* Jumbotron Secondary */
.button {
  background-color: #3e3939;
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: 50%;
}

.button:active {
  background-color: #b4b4b4;
  border: 1px solid #3e3939;
}

#jumbotron .secondary {
  justify-content: center;
}

@media only screen and (max-width: 630px) {
  #jumbotron {
    flex-direction: column;
    align-items: center;
  }

  #jumbotron .main {
    width: 100%;
    height: auto;
  }

  .secondary {
    width: 100%;
  }

  .secondary .button {
    width: 100%;
  }

  #jumbotron .secondary {
    padding: 32px 16px ;
  }
}

/* Headlines */

  /* Headline Main */
#headlines .main {
  border-right: 1px solid #b4b4b4;
}
#headlines .main h1 {
  margin-top: 2rem;
}

#headlines .main h4 {
  color: ##585858;
  margin: 1.5rem 3rem 2rem 0;
}

#headlines .main h5 {
  font-weight: bold;
}

  /* Headline Secondary */
.headline {
  padding: 1rem;
  border-bottom: 1px solid #b4b4b4;
}

.headline:hover {
  background: #b4b4b4;
}

.headline .image-content {
  width: 35%;
  height: auto;
}

.headline .text-content {
  width: 65%;
  padding: 1.5rem;
  justify-content: center;
}

.headline h4 {
  margin: 1rem 0;
}

.more {
  font-size: 1.5rem;
  color: #3ea2fb;
}

#headlines .secondary {
  padding-top: 1rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .headline {
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-bottom: 0;
  }

  img.desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .headline .image-content {
    width: 100%;
    height: auto;
  }

  .headline .image-content img {
    width: 100%;
    height: auto;
  }

  .headline .text-content {
    width: 100%;
    padding: 1.5rem;
    justify-content: flex-start;
  }
}


@media only screen and (max-width: 630px) {
  #headlines .main {
    display: none;
  }

  #headlines {
    padding: 16px;
  }
}

/* Courses */
#courses {
  width: 100%;
  background-color: #b4b4b4;
}

.section-title {
  margin: 2rem;
  text-align: center;
}

.courses {
  justify-content: center;
  padding: 0 3.5rem;
  flex-wrap: wrap;
}

.course {
  background-color: #3e3939;
  width: 30%;
  margin: 0 1rem 2rem 1rem;
}

.course .image-content {
  width: 100%;
  height: auto;
}

.course .text-content {
  padding: 1rem 1rem 1.5rem;
}

.course .text-content h4 {
  color: #959595;
}

.course-title {
  font-weight: bold;
  color: #b99e13;
}

.course .text-content h4.designation {
  color: #000;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 800px) {
   #courses {
     padding: 1rem;
   }

   .course .image-content {
     display: none;
   }

   .course .text-content h4 {
     display: none;
   }

   .courses {
     width: 100%;
     padding: 0 0 0.5rem 0;
     flex-direction: column;
   }

   .section-title {
     margin: 1rem 2rem 0.5rem 2rem;
     text-align: center;
   }

   .course {
     width: 100%;
     padding: 1.5rem 1rem;
     margin: 0.5rem 0;
   }

   .course .text-content {
     padding: 0;
     margin: 0;
   }
}


/* Exhibits */
  /* Exhibits Main */
#exhibits .main .text-content {
  margin-top: 1.5rem;
}

#exhibits .main h4 {
  margin-top: 0.5rem;
  color: #585858;
}
  /* Exhibits Secondary */
#exhibits .secondary{
  padding-top: 2rem;
}

.exhibit {
  padding: 1rem;
  border: 1px solid #b4b4b4;
  border-right: 0;
}

.exhibit .image-content {
  width: 35%;
  height: auto;
}

.exhibit .text-content {
  width: 65%;
  padding: 1.5rem;
  justify-content: center;
}

.exhibit h4 {
  margin: 1rem 0;
  color: #585858;
}

.exhibit:hover {
  background: #b4b4b4;
}


@media only screen and (max-width: 630px) {
  #exhibits .secondary {
    display: none;
  }

  .main .text-content {
    display: none;
  }

  .main {
    width: 100%;
  }

  .section-title {
    margin: 1rem 2rem 1rem 2rem;
    text-align: center;
  }

  #exhibits {
    padding: 1rem 0 1.5rem 0;
  }
}

/* Footer */
footer {
  color: #3e3939;
  padding: 1rem 1.5rem 3rem;
}

@media only screen and (max-width: 630px) {
  footer nav {
    display: none;
  }

  footer {
    padding: 1rem 1.5rem 1rem;
  }
}
