/* Universal */
a {
  color: black;
}

body {
  color: #464f58;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

img {
  height: auto;
  width: 100%;
}

nav {
  margin-right: 1.5rem;
}

nav span {
  margin-left: 1rem;
}

section {
  width: 100%;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem 1.5rem;
  width: 60%;
}

.secondary {
  width: 40%;
}

header,
footer {
  align-items: center;
  height: 4rem;
  justify-content: space-between;
}

/* header span,
footer span,
a {
  color: #b99e13;
} */


/* Header */
.logo {
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}

.logo span {
  color: gray;
}

.logo strong {
  color: black;
  font-weight: bold;
}


/* Jumbotron */
#jumbotron {
  background-color: lightgray;
}

  /* Jumbotron Main */
#jumbotron h1,
#jumbotron h3 {
  margin-bottom: 1.5rem;
}

  /* Jumbotron Secondary */
.button {
  background-color: #464f58;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: 50%;
}

.button:active {
  background-color: lightgray;
  border: 1px solid #464f58;
}

#jumbotron .secondary {
  justify-content: center;
}


/* Headlines */

  /* Headline Main */
#headlines .main {
  border-right: 1px solid lightgray;
}
#headlines .main h1 {
  margin-top: 2rem;
}

#headlines .main h4 {
  color: gray;
  margin: 1.5rem 3rem 2rem 0;
}

#headlines .main h5 {
  font-weight: bold;
}

  /* Headline Secondary */
.headline {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.headline .image-content {
  width: 35%;
  height: auto;
}

.headline .text-content {
  width: 65%;
  padding: 1.5rem;
  justify-content: center;
}

.headline h4 {
  margin: 1rem 0;
  color: gray;
}

.more {
  font-size: 1.5rem;
  color: blue;
}

#headlines .secondary {
  padding-top: 1rem;
}

#lecture {
  background: lightgray;
}

/* Courses */
#courses {
  width: 100%;
  background-color: #eaeaeb;
}

.section-title {
  margin: 2rem;
  text-align: center;
}

.courses {
  justify-content: center;
  padding: 0 3.5rem;
  flex-wrap: wrap;
}

.course {
  background-color: white;
  width: 30%;
  margin: 0 1rem 2rem 1rem;
}

.course .image-content {
  width: 100%;
  height: auto;
}

.course .text-content {
  padding: 1rem 1rem 1.5rem;
}

.course .text-content h4 {
  color: gray;
}

.course-title {
  font-weight: bold;
}

.designation {
  padding: 0.5rem 0;
}


/* Exhibits */
  /* Exhibits Main */
#exhibits .main .text-content {
  margin-top: 1.5rem;
}

#exhibits .main h4 {
  margin-top: 0.5rem;
  color: gray;
}
  /* Exhibits Secondary */
#exhibits .secondary{
  padding-top: 2rem;
}

.exhibit {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.exhibit .image-content {
  width: 35%;
  height: auto;
}

.exhibit .text-content {
  width: 65%;
  padding: 1.5rem;
  justify-content: center;
}

.exhibit h4 {
  margin: 1rem 0;
  color: gray;
}

#fisma {
    background: lightgray;
}

/* Footer */
footer {
  color: gray;
  border-top: 1px solid lightgray;
  padding: 1rem 1.5rem 3rem;
}

footer a {
  color: gray;
}
