/* As we were instructed to follow the specifications of the
wireframe, and make all other choices that follow; this solution
was based on the specifications of the wireframe with some
regard to styling elements that were not
specifically designated so they 'look' like their
equivalents in the wireframe.*/

/* Color Palette
  Color # 1 - Black: #000
  Color # 2 - Lighter Black: #3e3939
  Color # 3 - Darker Gray: #585858
  Color # 4 - Lighter Gray: #d7d7d7
  Color # 5 - White: #fff
  Color # 6 - Darker Gold: #b99e13
*/

/* Universal */
body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

img {
  height: auto;
  width: 100%;
}

nav {
  margin-right: 1.5rem;
}

section {
  width: 100%;
}

header,
footer {
  background: #3e3939;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
}

header span,
footer span,
a {
  color: #b99e13;
}

nav span,
nav div {
  margin-left: 1rem;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.image-content {
  width: 35%;
  height: auto;
}

.main {
  padding: 2rem 1.5rem;
  width: 60%;
}

.main h4 {
  color: #585858;
}

.secondary {
  width: 40%;
}

.section-title {
  margin: 2rem;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .section-title {
    margin: 1rem 2rem 0.5rem 2rem;
  }
}

/* Header */
.logo {
  align-items: center;
  height: 2.5rem;
}

.logo strong {
  color: #eaeaea;
  font-weight: bold;
}

.title {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
}

#large .logo {
  margin-left: 1.5rem;
}

#small {
  display: none;
}

@media only screen and (max-width: 675px) {
  #large {
    display: none;
  }

  #small {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }

  #small img {
    height: 2.5rem;
    width: auto;
  }
}

/* Jumbotron */
.button {
  background-color: #3e3939;
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: 50%;
}

.button:active {
  background-color: #b4b4b4;
  border: 1px solid #3e3939;
}

#jumbotron {
  background-color: #b4b4b4;
}

#jumbotron h1,
#jumbotron h3 {
  color: #3e3939;
  margin-bottom: 1.5rem;
}

#jumbotron h4 {
    color: #b99e13;
}

#jumbotron .secondary {
  justify-content: center;
}

@media only screen and (max-width: 630px) {
  .secondary {
    width: 100%;
  }

  .secondary .button {
    width: 100%;
  }

  #jumbotron {
    flex-direction: column;
    align-items: center;
  }

  #jumbotron .main {
    width: 100%;
    height: auto;
    padding: 0;
  }

  #jumbotron .secondary {
    padding: 32px 16px ;
  }
}

/* Headlines */

  /* Headline Main */
#headlines .main {
  border-right: 1px solid #b4b4b4;
}

#headlines .main h1 {
  margin-top: 2rem;
}

#headlines .main h4 {
  margin: 1.5rem 3rem 2rem 0;
}

#headlines .main h5 {
  font-weight: bold;
}

  /* Headline Secondary */
.headline {
  padding: 1rem;
  border-bottom: 1px solid #b4b4b4;
}

.headline:hover {
  background: #b4b4b4;
}

.headline h4 {
  margin: 1rem 0;
  color: #585858;
}

.headline .text-content {
  width: 65%;
  padding: 1.5rem;
}

.mobile {
  display: none;
}

.more {
  font-size: 1.5rem;
}

#headlines .secondary {
  padding-top: 1rem;
}

@media only screen and (max-width: 900px) {
  .headline {
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-bottom: 0;
  }

  .headline .image-content {
    width: 100%;
    height: auto;
  }

  .headline .text-content {
    width: 100%;
    padding: 1.5rem;
    justify-content: flex-start;
  }

  .mobile {
    display: block;
  }

  img.desktop {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  #headlines .main {
    display: none;
  }

  #headlines {
    padding: 16px;
  }
}

/* Courses */
.course {
  background-color: #3e3939;
  width: 30%;
  margin: 0 1rem 2rem 1rem;
}

.course .image-content {
  width: 100%;
  height: auto;
}

.course .text-content {
  padding: 1rem 1rem 1.5rem;
}

.course .text-content h4 {
  color: #eaeaea;
}

.course .text-content h4.designation {
  color: #000;
  padding: 0.5rem 0;
}

.courses {
  justify-content: center;
  padding: 0 3.5rem;
  flex-wrap: wrap;
}

.course-title {
  font-weight: bold;
  color: #b99e13;
}

#courses {
  width: 100%;
  background-color: #b4b4b4;
}

@media only screen and (max-width: 800px) {
   .course {
     width: 100%;
     padding: 1.5rem 1rem;
     margin: 0.5rem 0;
   }

   .course .image-content {
     display: none;
   }

   .course .text-content {
     padding: 0;
     margin: 0;
   }

   .course .text-content h4 {
     display: none;
   }

   .courses {
     width: 100%;
     padding: 0 0 0.5rem 0;
     flex-direction: column;
   }

   #courses {
     padding: 1rem;
   }
}

/* Exhibits */
  /* Exhibits Main */
.exhibit {
  padding: 1rem;
  border: 1px solid #b4b4b4;
  border-right: 0;
}

.exhibit:hover {
  background: #b4b4b4;
}

.exhibit h4 {
  margin: 1rem 0;
  color: #585858;
}

.exhibit .text-content {
  width: 65%;
  padding: 1.5rem;
}

#exhibits .main {
  padding-top: 0;
}

#exhibits .main h4 {
  margin-top: 0.5rem;
}

#exhibits .main .text-content {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 630px) {
  .main {
    width: 100%;
  }

  .main .text-content {
    display: none;
  }

  .section-title {
    margin: 1rem 2rem 1rem 2rem;
  }

  #exhibits {
    padding: 1rem 0 1.5rem 0;
  }

  #exhibits .secondary {
    display: none;
  }
}

/* Footer */
footer {
  color: #3e3939;
  padding: 1rem 1.5rem 3rem;
}

@media only screen and (max-width: 630px) {
  footer {
    padding: 1rem 1.5rem 1rem;
  }

  footer nav {
    display: none;
  }
}
